<% @groups.each do |group| %>
  <%= group.name %>
  <br>
  <% group.organizers.each do |organizer| %>
    <%= "#{organizer.user.first_name} #{organizer.user.last_name}"  %>
  <% end %>
  <br>
<% end %>

<h3>Import Groups</h3>
<%= form_tag import_groups_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Groups" %>
<% end %>
