<%= @group.name %>

<br>
<% @group.users.each do |user| %>
  <section id="user-<%= user.id %>">
    <%= user.first_name %>
    <%= user.last_name %>
    <br>
    <%= user.user_group_role %>
  </section>
<% end %>
